<%= render :partial => 'shared/flash_messages' %>
<header>
  <h3>
    <%= t '.password_settings' %>
  </h3>
</header>
<%= form_for current_user, :url => settings_password_path, :validate => true do |f| %>
  <fieldset>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :current_password %>
      </div>
      <div class="controls">
        <%= f.password_field :current_password, :class => 'span3' %>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :password %>
      </div>
      <div class="controls">
        <%= f.password_field :password, :class => 'span3' %>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :password_confirmation %>
      </div>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'span3' %>
      </div>
    </div>
    <%= f.submit t('save'), :class => 'btn primary' %>
  </fieldset>
<% end %>
