<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= page_title_with_notification %>
    </title>
    <% if defined?(@subscribe_url) %>
      <link href="<%= @subscribe_url %>" rel="alternate" type="application/rss+xml">
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= timeago_script_tag %>
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'layouts/topbar' %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
    <%= render :partial => 'layouts/footer' %>
  </body>
</html>